main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #eeb399;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header .logo {
    display: flex;
    align-items: center;
    padding: 3px;
}

.header .logo .title {
    padding-left: 10px;
    color: #000;
}

.header .navegation ul {
    display: flex;
    gap: 60px;
    margin-right: 110px;
    align-items: center;
}

.header .navegation ul .principal {
    /* background-color: #fff; */
    padding: 5px;
    /* border-style: groove; */
    /* border-radius: 10px; */
    position: relative;
}


.navegation .has-submenu .submenu {
    font-size: 15px;
    width: 100%;
    display: none;
    position: absolute;
    top: 100%; /* Faz ele aparecer logo abaixo do item pai */
    left: 0;
    min-width: 150px;
    /* flex-direction: column; Faz os sub-itens ficarem um abaixo do outro */
    gap: 0;
    margin-right: 0;
    padding: 10px 0px 0px 0px;
    /* background-color: violet; */
    border-style: groove;

}
.navegation .has-submenu:hover .submenu {
    display: block;
    background-color: #fff;
    width: 250px;
}
.navegation .has-submenu .submenu li {
    /* list-style: disc; */
    padding: 3px 0px 3px 0px;
    text-decoration: underline;
    font-size: 17px;
}
.navegation .has-submenu .seta {
    /* font-size: 10px; */
    margin-left: 5px;
    transition: transform 0.3s;
    display: inline-block;
}
.navegation .has-submenu:hover .seta {
    transform: rotate(-90deg);
}

.sobre {
    /* background-color: blueviolet; */
    padding: 20px;
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
}
.sobre .infos {
    max-width: 545px;
}
.sobre .infos .title {
    font-size: 30px;
    padding: 8px;
}
.sobre .infos .about {
    padding: 8px;
    line-height: 26px;
    font-size: 18px;
}
.sobre .infos .creators {
    padding: 35px 15px 35px 0px;
    font-size: 17px;
    font-weight: bold;
}

.footer {
    background-color: #b9d9ca;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}
.footer .contact {
    max-width: 350px;
    padding: 20px 0px 0px 20px;
}
.footer .contact .title, .footer .contact .address, .footer .contact .email {
    padding: 5px;
}
.footer .developer {
    padding: 15px 50px 0px 0px;
    align-self: flex-end;
}
.footer .social-medias ul{
    display: flex;
    gap: 20px;
    padding: 40px 40px 0px 40px;
    margin-right: 100px;
}
.footer .social-medias ul li a i{
    /* background-color: yellow; */
    height: 32.5px;
    width: 32.3px;
    padding-top: 2px;
    font-size: 27.3px;
    text-align: center;
    border-radius: 10px;
}

/*estilos pag contato*/
.contato {
    padding: 25px;
}
.contato .title-contact {
    padding: 8px;
    font-size: 30px;
}
.contato .forms {
    display: flex;
    /* justify-content: center; */
    /* height: 300px; */
    gap: 200px;
}
.contato .forms label {
    font-size: 18px;
    display:flex;
    flex-direction: column;
    padding-bottom: 3px;
}
.contato .forms .infos input {
    width: 320px;
    padding: 5px 0px 0px 0px;
    border-style: none;
    border-bottom: ridge;
}
.contato .forms .infos {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-radius: 10px;
    padding: 25px;
    gap: 15px;
}

.contato .forms .mensagem {
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 50px;
    border-style: groove;
    padding: 25px;
    border-radius: 10px;
}
.contato .forms .mensagem #Mensagem {
    border-style: none;
    border-bottom: ridge;
    border-top: ridge;
    padding-top: 8px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
}
.contato .forms .mensagem .btn-submit {
    width: 200px;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.contato .forms .obrigatorio {
    font-size: 11px;
    padding: 2px;
    color: #ff0000;
}

.desativado {
    display: none;
}

/* Definição da animação de tremer */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

/* Classe que aplica a animação */
.shake {
    animation: shake 0.4s ease-in-out;
}